extends layout

block content
  section.introSection 
    h2 Broward Pawn
    p "Find your hidden Treasure here"
  section.aboutContainer 
    h2 About 
      span Broward Pawn
  div.contactContainer
    h2 Get in Touch
    a(href="/contact") See More 