/*General Formatting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/*End of general formatting*/


/*Keyframe Formatting*/
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        width: 140px;
    }
}

@keyframes revealText{
   0%{
    opacity: 0;
    width: 0;
   }
   100%{
       opacity: 1;
       width: 100%;
   }
}

@keyframes growHr{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

@keyframes colorPulse{
    0%{
        background-color: #4A90E2;
    }
    50%{
        background-color: #50E3C2;
    }
    100%{
        background-color: #4A90E2;
    }
}

/*Font Family Formatting*/
@font-face {
    font-family: 'karma-bold';
    src: url(../fonts/karma-light.ttf);
}

@font-face {
    font-family: 'edwardianScript';
    src: url(../fonts/edwardian-script-tt-bold.ttf);
}

@font-face {
    font-family: 'dancingScript';
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

/*Create fade in  animation*/
.fadeIn{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;/*Create smooth appear transition*/
}

.fadeIn.visible{
    opacity: 1;
    transform: translateY(20px);
}

/*Format header*/
header{
    display: flex;
    justify-content: flex-end;
    position: sticky;/*Have nav bar stick to top of page*/
    top: 0;
    z-index: 1000;/*Have nav bar appear over elements*/
    background-color: #fff9ec;
}

header nav{
    position: relative;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 15px 16px;
}

header nav ul li a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #304254;
}

/*Format link hover*/
header nav ul li a:hover{
    color: #4d6a87;
}

/*Format hamburger icon*/
.hamburger{
    display: none;
}


/*End of header formatting*/

/*Format video background*/
.videoBackground{
   position: relative;
   overflow: hidden;
   height: 80vh; 
}

.videoBackground video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /*Make sure vide is behind text*/
    transform: translate(-50%, -50%);
}

.videoBackground h2{
    position: relative;
    z-index: 1;
    color: white;
    text-align: left;
    padding-left: 20px;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: revealText 1s forwards;/*reveal text animation*/
}

.videoBackground h3{
    position: relative;
    z-index: 1;
    color: white;
    text-align: left;
    padding-left: 20px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-top: 70px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: revealText 1s forwards; /*reveal text animation*/
}

/*Format contact info container*/
.contactContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 50px;
    flex-direction: column;
}

.contactContainer p{
    color: white;
    font-family: sans-serif;
    line-height: 1.3;
    font-size: 25px;
}


.contactContainer .iconContainer{
   margin-top: 100px;
   margin-right: 20px;
   display: flex;
   gap: 20px;
   align-items: center;
   margin-left: 145px;
}

/*Format logo*/
.contactContainer .iconContainer .logoFormat{
    font-family: 'edwardianScript', sans-serif;
    text-align: center;
    margin-left: 200%;
    font-size: 65px;
}


/*Format twitter icon*/
.contactContainer .twitterIcon{
    width: 33px;
}

.contactContainer .instaIcon{
    width: 33px;
}

.contactContainer .fbIcon{
    width: 33px;
}


/*Format background image*/
.imgBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/browardVillas.jpg);
    background-position: center;
    background-size: cover;
    height: 81.3vh;
}

.itemContainer{
    border: 2px solid white;
    height: 600px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerContainerBorder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    margin: 5px;
    height: 580px;
    width: 1180px;
    
}

.imgBackground .itemContainer .innerContainerBorder h2{
    color: white;
    font-size: 145px;
    font-family: 'edwardianScript', sans-serif;
}

.imgBackground .itemContainer .innerContainerBorder h3{
    color: white;
    font-size: 30px;
}

.imgBackground .itemContainer .innerContainerBorder h4{
    color: white;
    font-size: 30px;
    font-weight: lighter;
    animation: appear 1s ease;/*Create appear animation*/
}

/*Format button*/
.imgBackground .itemContainer .innerContainerBorder .btnFormat{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background-color: #9A7FAE;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    width: 250px;
    font-size: 17px;
    margin-top: 55px;
    animation: appear 1s ease;/*Create appear animation*/
}

/*Format hr tags around h3 tag*/
.imgBackground .itemContainer .innerContainerBorder .hrContainer{
   display: flex;
   align-items: center;
   text-align: center;
}

.imgBackground .itemContainer .innerContainerBorder .hrContainer .whiteHr1{
    flex: 1;
    background-color: white;
    height: 2px;
    margin: 0 30px;
    
    width: 0;
    border: none;
    animation: grow 1s ease forwards;
}

.imgBackground .itemContainer .innerContainerBorder .hrContainer .whiteHr2{
    flex: 1;
    background-color: white;
    height: 2px;
    margin: 0 30px;
    width: 0;
    border: none;
    animation: grow 1s ease forwards;
}

/*--About section Formatting--*/
.aboutFormat{
    background-color: #652b63;
    padding: 50px;
}

.aboutFormat h2{
    color: white;
    font-family: 'karma-bold', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}

/*Format img grid items*/
.aboutFormat .imgGridContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /*apply appear animation*/
}

.aboutFormat .imgGridContainer .imgItem{
    width: calc(50% - 10px); /*Have two images on top*/
}

.aboutFormat .imgGridContainer .imgItem:nth-child(n+3){
    width: calc(33.33% - 10px); /*Have three images on bottom*/
}

/*Format images to be reponsive to any screen size*/
.aboutFormat .imgGridContainer .imgItem img{
    width: 100%;
}

/*Format text*/
.aboutFormat p{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 50px;
    
}
/*--End of About section Formatting--*/

/*--Villas section Formatting--*/


/*--Offer section Formatting--*/
.offersFormat{
    padding: 40px;
    background-color: #fff9ec;
}

.offersFormat h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #6a3266;
    font-size: 50px;
}



.offerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offerContainer .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.offerContainer .imgContainer img{
    width: 180px;
    height: 200px;
}

.offerContainer .imgText{
    margin-top:25px;
}

.offerContainer .imgText .imgTextItem h3{
    text-align: center;
    font-family: sans-serif;
    color: #672d62;
    font-weight: bolder;
    margin-top: 25px;
    font-size: 25px;
}

.offerContainer .imgText .imgTextItem p{
    text-align: center;
    max-width: 350px;
    font-family: sans-serif;
    color: #a4819c;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5;
}

.offerContainer .imgText .imgTextItem img{
    width: 50px;
}
/*--End of Offer section Formatting*/

/*--Villas section Formatting--*/
.villasFormat{
    background: linear-gradient(
        to bottom,
        #fff9ec 0%,
        #fff9ec 67.35%,
        #9A7FAE 67.35%,
        #9A7FAE 100%
    );
    padding: 50px;
}

.villasFormat h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #6a3266;
    font-size: 50px;
    margin-bottom: 30px;
}
/*Format outer container for villa types*/
.villasFormat .villaTypeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.villasFormat .villaTypeContainer .villaItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.villasFormat .villaTypeContainer .villaItem img{
    width: 300px;
    height: 350px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-bottom: 20px;
}
.villasFormat .villaTypeContainer .villaItem h3{
    font-family: sans-serif;
    color: #6a3266;
    font-weight: bolder;
    font-size: 30px;
}

.villasFormat .villaTypeContainer .villaItem h4{
    font-family: sans-serif;
    color: #6a3266;
    font-weight: bolder;
    font-size: 20px;
}

.villasFormat .villaTypeContainer .villaItem p{
    text-align: center;
    color: #ac8ba3;
    margin-bottom: 25px;
    margin-top: 5px;
    font-family: sans-serif;
}



/*Format villas pricing container*/
.villasFormat .villasPricing{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 1s ease;
}
.villasFormat .villasPricing .pricingContainer hr{
    color: purple;
    width: 18%;
    margin-top: 50px;
    margin-bottom: 15px;
    animation: grow 1s ease;
    transform-origin: left;
}


.villasFormat .villasPricing .pricingContainer p{
    color: #b5828e;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.villasFormat .villasPricing .pricePhotoFormat{
    width: 650px;
    height: 500px;
}

/*Format photo container to be at center of page*/
.villasFormat .photoContainer{
   
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    animation: appear 1s ease;
}

.villasFormat .photoContainer .photoText{
    text-align: center;
    margin-bottom: 40px;
}

.villasFormat .photoContainer .photoText img{
    width: 500px;
    height: 500px;
}

.villasFormat .photoContainer  .photoText p{
    font-family: sans-serif;
    color: white;
    margin-top: 35px;
    text-align: center;
    font-size: 18px;
}

.villasFormat .photoContainer .photoText p span{
    text-align: center;
}

/*--Testimonials section Formatting--*/
.testimonials{
    background-color: #652b63;
    padding: 50px;
}

.testimonials h2{
    color: white;
    font-size: 50px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
}

.testContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px 0 20px 0;
}

.testimonials .testItem .subTitleFormat{
    margin-top: 15px;
    font-family: 'edwardianScript', sans-serif;
    font-size: 40px;
}

.testimonials .testItem hr{
    width: 50%;
}

.testimonials .testItem{
    margin-top: 15px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials .testItem h3, .testimonials .testItem p{
    color: white;
    max-width: 300px;
    top: 0;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 150px;
    margin-top: 25px;
}

/*Format section headers*/
section h2{
    text-align: center;
}

/*Format Footer*/
footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: black;
    z-index: 1000;
    color: white;
    padding: 10px;
}

.popUpContainer{
    position: relative;
}

/*Format link for canva*/
.linkFormat a{
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 8px;
    transition: 0.5s ease;/*Create a smooth transition*/
}

.linkFormat a span{
    font-family: 'dancingScript', sans-serif;
    font-size: 13px;
}

.linkFormat a:hover{  
    /*Create color pulse animation*/
    animation: colorPulse 5s infinite;
}

/*Format popup message*/
.popUpContainer .termsFormat{
    font-family: sans-serif;
    font-size: 13px;
    padding: 5px;
    border-radius: 8px;
    transition: 0.5s ease;/*Create smooth transition hover*/
}

.popUpContainer .termsFormat:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.popUpMsg{
    padding: 15px;
    background-color: white;
    width: 300px;
    border-radius: 8px;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    position: fixed;
    left: 50%; 
    bottom: 100%; 
    transform: translate(-20%, 5px); 
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
}

.popUpMsg.show{
    display: block;
    visibility: visible;
    opacity: 1;
}

.popUpMsg h3{
    margin-bottom: 15px;
    font-family: sans-serif;
    color: black;
}

.popUpMsg p{
    font-family: sans-serif;
    font-size: 13px;
    color: lightgray;
    margin-bottom: 10px;
}

.popUpMsg a{
    color: lightgray;
    transition: 0.5s ease;/*Create smooth transition hover*/
}

.popUpMsg a:hover{
    color: purple;
}

.popUpMsg .btnContainer{
    text-align: right;
}

.popUpMsg .btnContainer button{
    padding: 15px;
    border-radius: 8px;
    font-family: sans-serif;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    font-weight: bold;
}

.popUpMsg .btnContainer button:hover{
    background-color: rgba(211, 211, 211, 0.5);
}

.popUpMsg .btnContainer .reportFormat{
    background-color: rgba(211, 211, 211, 0.5);
    font-family: sans-serif;
    padding: 13px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.popUpMsg .btnContainer .reportFormat:hover{
    background-color: rgba(211, 211, 211, 1);
}

/*Media Queries*/
@media screen and (min-width:1100px){
    
    /*Format offers section*/
    
    /*Format villa container*/
    .villasFormat{
        background-color: #fff9ec;
    }
    
    .villasFormat .villaTypeContainer{
        flex-direction: row;
    }

    .villasFormat .villaTypeContainer .villaItem{
        margin: 50px;
    }

    .villasFormat .photoContainer{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .villasFormat .photoContainer .photoText{
        margin-right: 100px;
    }

    .villasFormat .villasPricing{
        display: flex;
        flex-direction: row;
    }

    .villasFormat .villasPricing .pricingContainer{
        margin-right: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Format hr*/
    .villasFormat .villasPricing .pricingContainer hr{
        width: 50%;
        animation: growHr 1s ease;
    }

    .villasFormat .villasPricing .pricingContainer p{
        font-size: 25px;
    }

    .villasFormat .villasPricing .pricePhotoFormat{
        width: 100%;
        max-width: 700px;
        height: 750px;
       
    }

    /*Format offers container*/
    .offersFormat .offerContainer .imgText{
        display: flex;
        flex-direction: row;
        padding: 40px;
    }

    .offersFormat .offerContainer .imgText .imgTextItem{
      margin: 50px;
      text-align: center;
    }

    .offersFormat .offerContainer .imgText .imgTextItem img{
        width: 250px;
        height: 250px;
    }

    .offersFormat .offerContainer .imgText .imgTextItem h3{
        font-size: 30px;
    }

    .offersFormat .offerContainer .imgText .imgTextItem p{
        font-size: 20px;
    }


    
    /*Format about format imgs*/

    .aboutFormat{
        padding: 100px;
    }

    .aboutFormat .aboutText{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .aboutFormat .aboutText p{
        font-size: 25px;
        font-weight: 100;
        text-align: center;
    }
    .aboutFormat .imgGridContainer{
        margin-bottom: 15px;
    }

    .aboutFormat .imgGridContainer .imgItem{
        flex-basis: calc(10% - 10px); /* Five images in a row */
        text-align: center;
        margin-top: 50px;
    }

    /*Format imgs to be smaller*/
    .aboutFormat .imgGridContainer .imgItem img{
        width: 180px;
    }

    /*Format testimonial container*/
    

    /*Adjust hr rule for test items*/
    .testimonials .testItem hr{
        width: 45%;
        margin-bottom: 5px;
    }

    .testimonials .testContainer{
        flex-direction: row;
        margin-left: 100px;
        gap: 10px;
        padding: 50px;
    }

    .testimonials .testContainer .testItem{
        flex: 1;
        min-height: 300px;
        max-width: 450px;
    }

    .testimonials h2{
        font-size: 65px;
    }

    /*Format test item font*/
    .testimonials .testItem p{
        font-size: 20px;
        max-width: 350px;
    }

    /*Format video title*/
    .videoTitle{
        width: 60%;
       margin: 0 auto;
    }

    .videoTitle h3, .videoTitle h2{
        font-size: 80px;
    }

    /*Format video text*/
    .videoBackground .contactContainer {
        position: absolute;
        top: 65%;
        left: 30%; 
        transform: translate(-50%, -50%);
    }

    .videoBackground .contactContainer p{
        font-size: 30px;
    }

    /*Format social media icons*/
    .videoBackground .contactContainer i{
        color: white;
        font-size: 40px;
        margin-right: 15px;
        margin-top: 50px;
    }

    

}
