# Dependencies
node_modules/

# Production build
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Temporary folders
coverage/
.cache/
.next/
.out/
dist/
.parcel-cache/

# Lint/Formatting cache
.eslintcache
.prettiercache

# Lock files (if not consistently using one package manager)
package-lock.json
yarn.lock