/*General Formatting*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*End of general formatting*/

/*Format header*/
header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
    height: auto;
}

header img:hover {
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*Format header donate button*/
header nav a {
    text-decoration: none;
    background-color: rgba(135, 206, 250, 0.8);
    padding: 25px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 8px;
    margin-right: 30px;
    transition: 0.5s ease;/*Add smooth transition hover*/
}

header a:hover {
    background-color: rgba(70, 130, 180, 0.8);
}

/*Format hamburger menu icon*/
header nav .bx-menu {
    font-size: 50px;
    color: lightblue;
}

/*Create hover animation for hamburger menu*/
header nav .bx-menu:hover {
    cursor: pointer;
}

/*End of header formatting*/

/*Section Formatting*/
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 65px;
    background-image:
        linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), 
        url(../images/aboutImg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

.aboutContainer h2 {
    font-family: sans-serif;
    font-size: 45px;
    color: white;
}

.aboutContainer p {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
    width: 750px;
}

/*Format about link*/
.aboutContainer a {
    font-family: sans-serif;
    color: lightblue;
    font-weight: bolder;
    text-decoration: none;
    font-size: 35px;
    margin-top: 15px;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.aboutContainer a:hover {
    color: rgb(70, 130, 180);
    cursor: pointer;
}

/*Format imgLink container*/
.imgLinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    gap: 20px
}

/*Format imgs*/
.imgLinkContainer .imgLink img{
    width: 250px;
    margin-bottom: 25px;
}

/*Format img links*/
.imgLinkContainer .imgLink a {
    text-decoration: none;
    font-size: bolder;
    font-family: sans-serif;
    color: lightskyblue;
    font-size: 30px;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.imgLinkContainer .imgLink a:hover {
    color: rgb(70, 130, 180);
    cursor: pointer;
    text-decoration: underline;
}

/*Format overview container*/
.overContainer {
    margin: 35px;
}

.overContainer .overviewItem h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: darkslategrey;
    margin-bottom: 20px;
}

.overContainer .overviewItem h4 {
    font-size: 25px;
    color: darkcyan;
    margin-bottom: 15px;
}

.overContainer .overviewItem p {
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: darkcyan;
    width: 900px;
    font-size: 15px;
}

.overContainer .overviewItem .overImgLink {
    margin-bottom: 40px;
}
/*Format section imgs */
.overContainer .overviewItem .overImgLink img {
    width: 890px;
    margin-bottom: 30px;
}

.overContainer .overviewItem .overImgLink  h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 25px;
}

/*Format img p tags*/
.overContainer .overviewItem .overImgLink p {
    font-family: sans-serif;
    font-size: 20px;
    color: darkcyan;
    font-weight: lighter;
}

/*Format img links*/
.overContainer .overviewItem .overImgLink a {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    background-color: transparent;
    color: darkslategrey;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    border: 1px solid black;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.overContainer .overviewItem .overImgLink a:hover {
    color: lightskyblue;
    border: 1px solid lightskyblue;
}

/*End of section formatting*/

/*Footer formatting*/
footer {
    padding: 25px;
}

.footerLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Format social media icons*/
.socialMediaContainer {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.socialMediaContainer a {
    color: black;
    text-decoration: none;
}

.socialMediaContainer a i {
    border: 2px solid lightskyblue;
    border-radius: 50%;
    padding: 8px;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

/*Create icon hover animation*/
.socialMediaContainer i:hover {
    cursor: pointer;
    color: lightblue;
}

.footerLogoContainer img {
    width: 200px;
}

.footerLogoContainer img:hover {
    cursor: pointer;
}

footer p {
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
}

footer p a{
    color: lightgray;
}

/*Format quick links*/
.qckLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 200px;
}

.qckLinkContainer .qckLinkItem {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 10px;
}

.qckLinkContainer .qckLinkItem h3 {
    font-family: sans-serif;
    color: lightskyblue;
    font-size: 22px;
}

.qckLinkContainer .qckLinkItem p {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    line-height: 1.5;
    font-weight: 500;
}

.qckLinkContainer .qckLinkItem a {
    text-decoration:  none;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

/*Create item hover*/
.qckLinkContainer .qckLinkItem a:hover {
    color: lightskyblue;
}

.qckLinkContainer .qckLinkItem a, .qckLinkContainer .qckLinkItem p {
    margin: 10px 0;
}
/*End of footer formatting*/