/*General Formatting*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*End of general formatting*/

/*Keyframe formatting*/
@keyframes slideLeft {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Format header*/
header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 150px;
    height: auto;
}

header img:hover {
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*Format header donate button*/
header nav a {
    text-decoration: none;
    background-color: rgba(135, 206, 250, 0.8);
    padding: 25px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 8px;
    margin-right: 30px;
    transition: 0.5s ease;/*Add smooth transition hover*/
}

header a:hover {
    background-color: rgba(70, 130, 180, 0.8);
}

/*Format hamburger menu icon*/
header nav .bx-menu {
    font-size: 50px;
    color: lightblue;
}

/*Create hover animation for hamburger menu*/
header nav .bx-menu:hover {
    cursor: pointer;
}

/*End of header formatting*/

/*Section Formatting*/
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 65px;
    background-image:
        linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), 
        url(../images/aboutImg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

.aboutContainer h2 {
    font-family: sans-serif;
    font-size: 45px;
    color: white;
}

.aboutContainer p {
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
    width: 750px;
}

/*Format about link*/
.aboutContainer a {
    font-family: sans-serif;
    color: lightblue;
    font-weight: bolder;
    text-decoration: none;
    font-size: 35px;
    margin-top: 15px;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.aboutContainer a:hover {
    color: rgb(70, 130, 180);
    cursor: pointer;
}

/*Format imgLink container*/
.imgLinkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    gap: 20px
}

/*Format imgs*/
.imgLinkContainer .imgLink img{
    width: 250px;
    margin-bottom: 25px;
}

/*Format img links*/
.imgLinkContainer .imgLink a {
    text-decoration: none;
    font-size: bolder;
    font-family: sans-serif;
    color: lightskyblue;
    font-size: 30px;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.imgLinkContainer .imgLink a:hover {
    color: rgb(70, 130, 180);
    cursor: pointer;
    text-decoration: underline;
}

/*Format overview container*/
.overContainer {
    margin: 35px;
}

.overContainer .overviewItem h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: darkslategrey;
    margin-bottom: 20px;
}

.overContainer .overviewItem h4 {
    font-size: 25px;
    color: darkcyan;
    margin-bottom: 15px;
}

.overContainer .overviewItem p {
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: darkcyan;
    width: 900px;
    font-size: 15px;
}

.overContainer .overviewItem .overImgLink {
    margin-bottom: 40px;
}
/*Format section imgs */
.overContainer .overviewItem .overImgLink img {
    width: 890px;
    margin-bottom: 30px;
}

.overContainer .overviewItem .overImgLink  h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 25px;
}

/*Format img p tags*/
.overContainer .overviewItem .overImgLink p {
    font-family: sans-serif;
    font-size: 20px;
    color: darkcyan;
    font-weight: lighter;
}

/*Format img links*/
.overContainer .overviewItem .overImgLink a {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    background-color: transparent;
    color: darkslategrey;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    border: 1px solid black;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.overContainer .overviewItem .overImgLink a:hover {
    color: lightskyblue;
    border: 1px solid lightskyblue;
}

/*Format news letter section*/
.newsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    background-color: lightgray;
    padding: 25px;
}

.newsContainer h2 {
    font-family: sans-serif;
    font-size: 45px;
    color: white;
}

/*Format newsletter p tag*/
.newsContainer p {
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bolder;
}

.newsContainer form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*Format input fields*/
.newsContainer form .inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    margin-top: 5px;
}

.newsContainer form .inputContainer .formField {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*Format labels*/
.newsContainer form .inputContainer .formField label {
    margin-top: 5px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 18px;
}

/*Format inputs*/
.newsContainer form .inputContainer .formField input {
    padding: 25px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
}

/*Format input placeholders*/
.newsContainer form .inputContainer .formField input::placeholder{
    opacity: 0.5;
    font-style: italic;
    padding-left: 5px;
}

/*Format input focus*/
.newsContainer form .inputContainer .formField input:focus {
    outline: none;
}

/*Format email input*/
.fullWidth {
    width: 100%;
}

.fullWidth input {
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    border: none;
    font-size: 25px;
}

.fullWidth input::placeholder {
    opacity: 0.5;
    font-style: italic;
}

.fullWidth input:focus {
    outline: none;
}


/*Format button*/
.newsContainer form input[type="submit"] {
    padding: 25px;
    display: inline-block;
    width: 150px;
    border-radius: 8px;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    background-color: lightskyblue;
    transition: 0.5s ease;/*Create smooth hover transition*/
    margin: 0 auto;
}

.newsContainer form input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(70, 130, 180);
}

/*Format about us img container*/
.introImg {
    background-image: url(../images/aboutUsCat.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Format about img heading*/
.introImg h2 {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 100px;
}

/*Format mission section*/
.missionStatement {
    margin: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

/*Format mission heading*/
.missionStatement .missionItemText h2 {
    color: lightskyblue;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.missionStatement .missionItemText p {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 20px;
    color: darkslategray;
    margin-bottom: 25px;
}

/*Format first letter of first p tag to be big and bold*/
.missionStatement .missionItemText .dropCap:first-letter {
    font-size: 3em;
    line-height: 0;
}

/*Format mission quicklinks header*/
.missionStatement .quickLinks {
    margin-top: 25px;
    align-self: flex-start;
}

.missionStatement .quickLinks h4 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 15px;
}

.missionStatement .quickLinks .missionQckLink ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.missionStatement .quickLinks .missionQckLink ul li a{
    text-decoration: none;
    color: lightskyblue;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
    transition: 0.5s ease;/*Add smooth hover transition*/
}

.missionStatement .quickLinks .missionQckLink ul li a:hover {
    color: rgb(70, 130, 180);
}

/*Format video section*/
.videoContainer {
    padding: 25px;
    background-color: #6B7D7D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer iframe {
    max-width: 100%;
    max-height: 100%;
}
/*Format testimonial container*/
.testimonials { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

/*Format creator img*/
.testimonials img {
    width: 200px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid lightskyblue;
}

/*Format headings*/
.testimonials h4 {
    font-size: 30px;
    font-family: sans-serif;
    color: lightskyblue;
    font-weight: bolder;
}

.testimonials h5 {
    font-family: sans-serif;
    font-weight: lighter;
    color: lightskyblue;
    margin-top: 5px;
}

/*Format testimonials blockquote tag*/
.testimonials blockquote { 
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    width: 500px;
    line-height: 1.5;
    margin-top: 10px;
    position: relative;
    quotes: "“" "”";
    padding: 15px;
}

/*Format opening tag*/
.testimonials blockquote::before {
    content: open-quote;
    font-size: 50px;
    color: lightskyblue;
    position: absolute;
    left: -30px;
    top: -10px;
}

.testimonials blockquote::after {
    content: close-quote;
    font-size: 50px;
    position: absolute;
    color: lightskyblue;
    right: 130px;
    bottom: -10px;
}

/*Format donate section*/
.donateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/donateBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 15vh;
}

/*Format donate button*/
.donateContainer a {
    text-decoration: none;
    background-color: lightskyblue;
    padding: 25px;
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    border: 1px solid black;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.donateContainer a:hover {
    background-color: rgb(70, 130, 180);
}

/*Google maps section formatting*/
.googleMapContainer {
    background-image: url(../images/vecteezy_cat-paw-seamless-pattern-animal-footstep-vector-pattern-on_34132301.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

/*Format contact container*/

/*Format contact header*/
.contactHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(../images/contactHeader.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 20vh;
}

.contactHeader h2 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 100px;
}

.contactInfoContainer {
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

/*Formt contact info text items*/
.contactInfoContainer .contactItemText h2 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
}

.contactInfoContainer .contactItemText h2 span {
    color: lightskyblue;
}

/*Format contact p tag*/
.contactInfoContainer .contactItemText p {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/*Format contact information heading*/
.contactInfoContainer .contactItemText .contactInformation h4 {
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.contactInfoContainer .contactItemText .contactInformation p {
    font-size: 15px;
}
/*Format contact information link*/
.contactInfoContainer .contactItemText .contactInformation a {
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: lightskyblue;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.contactInfoContainer .contactItemText .contactInformation a:hover {
    color: rgb(70, 130, 180);
    text-decoration: underline;
}

/*Format contact form section*/
.contactForm {
    margin-top: 25px;
}

/*Format contact form header*/
.contactForm h2 {
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
}

.contactForm h2 span {
    color: lightskyblue;
}

/*Format contact form*/
.contactInfoContainer .contactForm .contactFormFormat label {
    font-family: sans-serif;
    font-weight: bolder;
}

.contactInfoContainer .contactForm .contactFormFormat input[type="text"],
.contactInfoContainer .contactForm .contactFormFormat input[type="email"]{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid lightskyblue;
    border-radius: 8px;
    display: inline-block;
    width: 460px;
    margin-top: 8px;
}

.contactInfoContainer .contactForm .contactFormFormat input::placeholder {
    font-style: italic;
    opacity: 0.8;
}

/*Format textarea*/
.contactInfoContainer .contactForm .contactFormFormat textarea {
    border-radius: 8px;
    border: 1px solid lightskyblue;
    margin-bottom: 25px;
    margin-top: 8px;
}

/*Format submit button*/
.contactInfoContainer .contactForm .contactFormFormat input[type="submit"] {
    border: none;
    padding: 22px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: lightskyblue;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

.contactInfoContainer .contactForm .contactFormFormat input[type="submit"]:hover {
    border: 1px solid lightskyblue;
    color: lightskyblue;
    background-color: transparent;
}

/*Format programs header container*/
.programsHeader {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 35px;
}

/*Format header titles*/
.programsHeader h2 {
    font-family: sans-serif;
    font-size: 50px;
    color: lightskyblue;
    margin-bottom: 15px;
    animation: slideLeft 1s ease;/*Create slide from left animation*/
}

.programsHeader h3 {
    font-family: sans-serif;
    font-size: 40px;
    color: darkslategray;
    animation: slideLeft 1.4s ease;/*Create slide from left animation*/
}

.programsHeader p{
    margin-top: 20px;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 20px;
    animation: slideLeft 2s ease;/*Create slideleft animation*/
}

/*Format program header img*/
.programsHeader img {
    margin-top: 30px;
    border-radius: 50%;
    animation: appear 2.5s ease;/*Create appear animation*/
}

/*Format program card container*/
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    background-color: lightskyblue;
    padding: 25px;
}

.cardContainer h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: darkslategray;
    font-weight: bolder;
    border-bottom: 15px dotted darkslategray;
}

/*Format card grid*/
.cardContainer .cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

/*Format images*/
.cardContainer .cardGrid .card img {
    width: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*Format cards*/
.cardContainer .cardGrid .card {
    background-color: white;
    border-radius: 8px;
    transition: 0.5s ease;/*Create smooth scale hover animation*/
}

.cardContainer .cardGrid .card h4 {
    font-family: sans-serif;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 25px;
    color: darkslategray;
}

.cardContainer .cardGrid .card p {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    color: lightskyblue;
    font-weight: bolder;
}

.cardContainer .cardGrid .card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/*Format impact container*/
.impactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    padding: 25px;
}

.impactContainer h2 {
    font-family: sans-serif;
    font-size: 40px;
    color: white;
}


/*End of section formatting*/

/*Footer formatting*/
footer {
    padding: 25px;
}

.footerLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Format social media icons*/
.socialMediaContainer {
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.socialMediaContainer a {
    color: black;
    text-decoration: none;
}

.socialMediaContainer a i {
    border: 2px solid lightskyblue;
    border-radius: 50%;
    padding: 8px;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

/*Create icon hover animation*/
.socialMediaContainer i:hover {
    cursor: pointer;
    color: lightblue;
}

.footerLogoContainer img {
    width: 200px;
}

.footerLogoContainer img:hover {
    cursor: pointer;
}

footer p {
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
}

footer p a{
    color: lightgray;
}

/*Format quick links*/
.qckLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 200px;
}

.qckLinkContainer .qckLinkItem {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 10px;
}

.qckLinkContainer .qckLinkItem h3 {
    font-family: sans-serif;
    color: lightskyblue;
    font-size: 22px;
}

.qckLinkContainer .qckLinkItem p {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    line-height: 1.5;
    font-weight: 500;
}

.qckLinkContainer .qckLinkItem a {
    text-decoration:  none;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.5s ease;/*Create smooth hover transition*/
}

/*Create item hover*/
.qckLinkContainer .qckLinkItem a:hover {
    color: lightskyblue;
}

.qckLinkContainer .qckLinkItem a, .qckLinkContainer .qckLinkItem p {
    margin: 10px 0;
}
/*End of footer formatting*/