/*General Formatting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Keyframe Formatting*/
@keyframes fadeDown {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes revealTitle {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*Body Formatting*/
body{
    background-color: #0D324D;
    color: white;
    font-family: sans-serif;
}

/*Nav menu formatting*/
.h1Animation{
    position: relative;
    overflow: hidden;
    white-space: nowrap;/*Prevents the title from going over to next line*/
    opacity: 0;/*Make the title invisible*/
    animation: revealTitle 2s ease forwards; /*Apply revealTitle animation*/
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
nav{
    padding: 15px;
    animation: fadeDown 0.5s ease-in-out;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;/*Create transition effect for link hover*/
}
nav ul li a:hover{
    color: #E0F2F1;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: large;
}

/*index.html*/
.creatorContainer{
    height: 100vh;
   display: flex;
   align-items: center;
   padding: 0 15%;
}
.creatorSummary{
    max-width: 600px;
}
.creatorSummary h1{
    font-size: 56px;
    font-weight: bold;
}
.creatorSummary h3{
    font-size: 32px;
    font-weight: bold;
    color: #E0F2F1;
    margin-bottom: 5px;
}
.creatorSummary p{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: monospace;
}
.creatorSummary .btnContainer{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btnContainer a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #E0F2F1;
    border: 2px solid #E0F2F1;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333333;
    z-index: 1;
    overflow: hidden;
}
.btnContainer a:hover{
    color: #F5F5DC;
}
.btnContainer a:nth-child(2){
    background: transparent;
    color: #F5F5DC; 
}
.btnContainer a:nth-child(2):hover{
    color: #333333;
}
.btnContainer a:nth-child(2)::before{
    background: #E0F2F1;
}
.btnContainer a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0D324D;
    z-index: -1;
    transition: 0.5s;
}
.btnContainer a:hover::before{
    width: 100%;
}
.creatorSocialContainer{
    position: absolute;
    display: inline-flex;
    justify-content: space-around;
    bottom: 40px;
    width: 100px;
}
.creatorSocialContainer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #E0F2F1;
    border-radius: 50%;
    font-size: 20px;
    color: #E0F2F1;
    text-decoration: none;
}
.imgFormat:hover{
    background: #0D324D;
    opacity: 0.5; /*Make picture fade in darker when hovered*/
}
.sectionFormat{
    padding: 10px;
}
.sectionFormat h2{
    text-align: center;
}
.columnContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 370px;
    margin: 100px;
    text-align: center;
}
.columnBox{
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    background-color: #1A1A1A;
}
.columnContent{
    padding: 16px;
}
.columnContent h3{
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 2px;
}
.columnContent p{
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    line-height: 1;
}
.columnContent a{
    display: inline-block;
    margin-top: 15px;
    padding: 15px;
    width: 150px;
    height: 100%;
    background: #E0F2F1;
    border: 2px solid #E0F2F1;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333333;
    z-index: 1;
    overflow: hidden;
}
.columnContent a:hover{
    color: #E0F2F1;
    background-color: #333333;
    transition: 0.5s;
}
.columnContent a:nth-child(1){
    background-color: transparent;

}
/*Contact.html*/
.bodyBackgroundImg{
    background-image: url(../images/animeWall.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
.goBackLink{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.goBackLink:hover{
    font-size: larger;
    font-weight: bolder;
    color: #333333;
}
.contactInfo h2{
    margin-top: 50px;
}
.contactInfo p{
    margin-left: 40px;
    padding: 5px;
}
form{
    text-align: right;
    padding: 35px;
}
label{
    font-weight: bold;
}
input{
    margin: 35px 35px 35px 0px;
}
textarea{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
}
input::placeholder{
    color: black;
    font-style: italic;
    font-weight: bolder;
}
.inputFormat{
    border: none;
    background-color: transparent; /*Get rid of background of input*/
    border-bottom: 2px solid white;
    outline: none;
}
.inputContainer{
    justify-content: center;
}
input::placeholder{
    color: black;
}
.btnFormat{
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orange;
    color: white;
    margin: 20px;
}


/*Footer Formatting*/
.footerLinks ul{
    list-style-type: none;
    text-align: center;
    padding: 15px;
}
.footerLinks ul li{
   display: inline-block;
   margin-right: 25px;
}
.footerLinks ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;/*Create transition effect for footer links*/
}
.footerLinks ul li a:hover{
    color: #E0F2F1;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: large;
}

.centerFooter{
    padding: 15px;
    text-align: center;
}


/*Media Queries*/
