/*Font Face Formatting*/
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}
/*End of font face formatting*/

/*Keyframe Formatting*/
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*End of keyframe formatting*/

/*Format about container*/
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: url(../images/aboutBackground.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*Format about title*/
.aboutContainer h2 {
    color: lightgreen;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bolder;
}

.aboutContainer h3 {
    color: lightgreen;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bolder;
}

/*Format video container*/
.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Format video*/
.videoContainer iframe {
    width: 330px;
    height: 250px;
    border-radius: 8px;
}

/*Format story container*/
.storyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/*Format story title*/
.storyContainer h3 {
    color: lightgreen;
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}

/*Format story img*/
.storyContainer img {
    width: 300px;
    border-radius: 8px;
   border: #6495ED 2px solid;
}

/*Format story text*/
.storyContainer p::first-letter {
    font-size: 30px;
}

.storyContainer p {
    color: yellow;
    line-height: 2;
    width: 300px;
    letter-spacing: 2px;
    font-family: monospace;
    text-align: left;
}

/*Format scrolling banner container*/
.scrollBanner {
    width: 100%;
    overflow: hidden;
}

/*Format banner content*/
.bannerContent {
    display: flex;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0;
}

/*Format banner text*/
.bannerText {
    display: flex;
}

/*Format banner item*/
.bannerItem {
    padding: 0 30px;
    color: white;
}

.bannerContent>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/*Create team container*/ 
.teamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

/*Format team title*/
.teamContainer h3 {
    color: lightgreen;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bolder;
}


/*Format team text*/
.teamContainer p {
    color: yellow;
    font-style: italic;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
}

/*Format faculty container*/ 
.facultyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/*Format faculty profile card items*/
.facultyContainer .facultyProfileCard {
    margin-bottom: 30px;
    background-color: #6495ED;
    border-radius: 8px;
    border: 2px solid lightgreen;
}
.facultyContainer .facultyProfileCard img{
    width: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
} 

/*Format faculty profile card title*/
.facultyContainer .facultyProfileCard h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Ubuntu-Regular',sans-serif;
    padding-left: 5px;
    font-weight: bolder;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
}

/*Format profile card text*/
.facultyContainer .facultyProfileCard p {
    color: white;
    font-style: normal;
    font-size: 10px;
    text-align: left;
    padding-left: 5px;
    font-family: sans-serif;
}

/*Format profile card links*/
.facultyContainer .facultyProfileCard a {
    text-decoration: none;
    padding-left: 5px;
    color: white;
    font-size: 12px;
    font-family: monospace;
    transition: 0.5s ease;/*Smooth hover transition*/
    margin-bottom: 8px;
}

/*Create hover effect for profile card links*/
.facultyContainer .facultyProfileCard a:hover {
    color: lightgreen;
}

/*Format social Links container*/
.facultyContainer .facultyProfileCard .socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Format social icons*/
.facultyContainer .facultyProfileCard .socialLinks i {
    font-size: 25px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    color: skyblue;
    transition: 0.5s ease;/*Smooth hover transition*/
}

/*Create hover effect for social icons*/
.facultyContainer .facultyProfileCard .socialLinks i:hover {
    cursor: pointer;
    color: lightgreen;
}

/*Format staff container*/
.staffContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/*Format staff profile cards*/
.staffContainer .staffProfileCard {
    background-color: #6495ED;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 2px solid lightgreen;
}

/*Format staff container card imgs*/
.staffContainer .staffProfileCard img {
    width: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/*Format staff profile card title*/
.staffContainer .staffProfileCard h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Ubuntu-Regular',sans-serif;
    padding-left: 5px;
    font-weight: bolder;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
}

/*Format p tag*/
.staffContainer .staffProfileCard p {
    color: white;
    font-size: 10px;
    text-align: left;
    padding: 5px;
    text-align: center;
}

/*Format staff profile card links*/
.staffContainer .staffProfileCard .socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Format links*/
.staffContainer .staffProfileCard .socialLinks i {
    font-size: 25px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    color: skyblue;
    transition: 0.5s ease;/*Smooth hover transition*/
}

/*Create hover effect for links*/
.staffContainer .staffProfileCard .socialLinks i:hover {
    cursor: pointer;
    color: lightgreen;
}

/*Create goals container*/
.goalsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

/*Format goals title*/
.goalsContainer h3 {
    color: lightgreen;
    font-size: 25px;
    margin-bottom: 10px;
}

/*Format goals list*/
.goalsContainer ul {
    background-color: rgba(100, 149, 237, 0.5);
    list-style-type: square;
    text-align: center;
    border-radius: 8px;
}
.goalsContainer ul li {
    color: yellow;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    padding: 5px;
    text-align: left;
    font-style: italic;
}

/*Create mobile media query*/
@media screen and (min-width: 768px) and (max-width: 1367px) {
    /*Format story container title*/
    .aboutContainer h2 {
        font-size: 50px;
    }

    .aboutContainer h3 {
        font-size: 40px;
    }

    /*Format story container img*/
    .storyContainer img {
        width: 600px;
    }

    /*Format story container text*/
    .storyContainer p {
        font-size: 25px;
        width: 600px;
        margin-top: 25px;
    }

    /*Format video */
    .videoContainer iframe {
        width: 600px;
        height: 400px;
    }

    /*Format our goals title*/
    .goalsContainer h3 {
        font-size: 45px;
    }
    
    /*Format our goals list*/
    .goalsContainer ul {
        padding: 30px;
    }

    .goalsContainer ul li {
        font-size: 25px;
    }

    /*Format our staff title*/
    .teamContainer h3 {
        font-size: 45px;
    }

    /*Format our staff text*/
    .teamContainer p {
        font-size: 20px;
    }

    /*Format our faculty cards*/
    .teamContainer .facultyProfileCard {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Format our faculty imgs*/
    .teamContainer .facultyProfileCard img {
        width: 495px;
    }

    /*Format our faculty names*/
    .teamContainer .facultyProfileCard h4 {
        font-size: 40px;
    }

    /*Format our faculty p tags*/
    .teamContainer .facultyProfileCard p {
        font-size: 20px;
        text-align: center;
    }

    /*Format our faculty links*/
    .teamContainer .facultyProfileCard a {
        font-size: 20px;
    }

    /*Format our staff links*/
    .teamContainer .facultyProfileCard .socialLinks i {
        font-size: 40px;
    }

    /*Format our staff profile cards*/
    .staffContainer .staffProfileCard {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Format our staff imgs*/
    .staffContainer .staffProfileCard img {
        width: 495px;
    }

    /*Format our staff names*/
    .staffContainer .staffProfileCard h4 {
        font-size: 40px;
    }

    /*Format our staff p tags*/
    .staffContainer .staffProfileCard p {
        font-size: 20px;
        text-align: center;
    }

    /*Format our staff icons*/
    .staffContainer .staffProfileCard .socialLinks i {
        font-size: 40px;
    }

}

/*Create desktop media query*/
@media screen and (min-width: 1368px) {
    /*Format our story title*/
    .storyContainer {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    /*Format our story img*/
    .storyContainer img {
        width: 500px;
    }

    /*Format our story title*/
    .storyContainer h3 {
        font-size: 50px;
    }

    /*Format out story text*/
    .storyContainer p {
        font-size: 20px;
        width: 900px;
    }

    /*Format video */
    .videoContainer iframe {
        width: 1000px;
        height: 600px;
    }

    /*Format our goals title*/
    .goalsContainer h3 {
        font-size: 50px;
    }

    /*Format our goals list*/
    .goalsContainer ul {
        padding: 25px;
    }

    .goalsContainer ul li {
        font-size: 20px;
    }

    /*Format faculty title*/
    .teamContainer h3 {
        font-size: 50px;
    }

    /*Format team container text*/
    .teamContainer p {
        font-size: 20px;
    }

    /*Format faculty container oreintation*/
    .facultyContainer {
        flex-direction: row;
        gap: 50px;
    }

    /*Format staff container*/
    .staffContainer {
        flex-direction: row;
        gap: 50px;
    }

    /*Format staff container card*/
    .staffContainer .staffProfileCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Format staff container card imgs*/
    .staffContainer .staffProfileCard img {
        width: 400px;
    }

    /*Format staff profile card title*/
    .staffContainer .staffProfileCard h4 {
        font-size: 30px;
    }

    /*Format staff profile card links*/
    .staffContainer .staffProfileCard .socialLinks i {
        font-size: 30px;
    }

    /*format card text*/
    .staffContainer .staffProfileCard p {
        font-size: 11.5px;
        width: 300px;
        text-align: center;
    }
}


