/*General Formatting*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*End of general formatting*/

/*Keyframes formatting*/
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*End of keyframe formatting*/

/*Header formatting*/
header {
  padding: 20px;
}

/*Format header h1*/
header h1 {
  font-family: sans-serif;
  font-size: 50px;
}
/*End of footer formatting*/

/*Section formatting*/

/**index.html**/
.introSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(../images/jewleryIntro.jpg);
  background-position: center;
  background-size: cover;
  height: 20vh;
}

/*Format intro header h2 tag*/
.introSection h2 {
  color: white;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Format intro section text*/
.introSection p {
  font-style: italic;
  color: aquamarine;
  animation: appear 1s ease/*Create appear animation*/
}

/*Format index about container*/
.aboutContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-image: url(../images/aboutStatic.png);
  background-position: center;
  background-size: cover;
  height: 20vh;
}


/*Format span tag element in about container*/
.aboutContainer span {
  color: Orange;
}
/*Format index contact container*/
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-image: url(../images/contactSection.png);
  background-position: center;
  background-size: cover;
  height: 20vh;
}

/*Format contact section text*/
.contactContainer h2 {
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 30px;
}

/*Format link*/
.contactContainer a {
  display: inline-block;
  width: 100px;
  background-color: orange;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: white;
  transition: 0.5s ease;/*Smooth hover transition*/
}

.contactContainer a:hover {
  background-color: black;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
/*End of section Formatting*/

/*Footer Formatting*/
footer {
  font-family: monospace;
  font-size: 15px;
  text-align: center;
  border-top: 10px solid black;
}

/*Privacy link formatting*/
.privacyContainer {
  background-color: lightgray;
  padding: 10px;
}

/*Format privacy container text*/
.privacyContainer p {
  color:black;
}

/*Format privacy container link*/
.privacyContainer a {
  color: black;
  text-decoration: none;
  cursor: none;
}
/*End of footer formatting*/