/*General Formatting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header formatting*/
header{
    text-align: right; /*Align header items to the right*/ 
    padding: 10px 5px 5px 10px;
}
/*Nav menu Formatting*/
nav li{
    display: inline-block;
    margin-right: 25px;
}
nav li a{
    text-decoration: none; /*Format links to have no underline and color of #304254*/
    color: #304254;
    font-family: sans-serif;
    font-weight: 700;
}
nav li a:hover{
    color: rgb(93, 127, 162);
}


/*Media query format*/
@media screen and (max-width: 600px) {
    
    /*Format nav list to be on top of each other if less than 600 pixels*/
    nav li{
        display: block;
        margin-right: 25px;
        padding: 15px;
        display: none; /*hide list when pixels is less than 600*/ 
    }
}